@page "/books/details"
@using Microsoft.EntityFrameworkCore
@using RzList.Models
@inject IDbContextFactory<RzList.Data.RzListDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Book</h2>
    <hr />
    @if (book is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@book.Title</dd>
            <dt class="col-sm-2">Author</dt>
            <dd class="col-sm-10">@book.Author</dd>
            <dt class="col-sm-2">ISBN</dt>
            <dd class="col-sm-10">@book.ISBN</dd>
            <dt class="col-sm-2">PublishedDate</dt>
            <dd class="col-sm-10">@book.PublishedDate</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@book.Description</dd>
            <dt class="col-sm-2">CharacterCount</dt>
            <dd class="col-sm-10">@book.CharacterCount</dd>
            <dt class="col-sm-2">Genre</dt>
            <dd class="col-sm-10">@book.Genre</dd>
            <dt class="col-sm-2">Publisher</dt>
            <dd class="col-sm-10">@book.Publisher</dd>
            <dt class="col-sm-2">CoverImageUrl</dt>
            <dd class="col-sm-10">@book.CoverImageUrl</dd>
            <dt class="col-sm-2">DateAdded</dt>
            <dd class="col-sm-10">@book.DateAdded</dd>
        </dl>
        <div>
            <a href="@($"/books/edit?id={book.Id}")">Edit</a> |
            <a href="@($"/books/delete?id={book.Id}")">Delete</a> |
            <a href="@($"/books")">Back to List</a>
        </div>
    }
</div>

@code {
    private Book? book;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        book = await context.Books.FirstOrDefaultAsync(m => m.Id == Id);

        if (book is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
